@import '../../../common_styles/mixins.scss';
header {
    background-color: var(--color2);
}

ul {
    display: flex;
}

li {
    list-style: none;
    &.last-item {
        flex: 1;
    }
}

.nav-link {
    display: flex;
    align-items: center;
    @include font-setting(1.125em, var(--primary-color));
    text-decoration: none;
    padding: 10px 15px;
    height: 100%;
    &.active {
        background-color: var(--color3);
        font-weight: bold;
        border-bottom: 6px solid var(--later);
        padding-bottom: 4px;
    }
    @include hover-focus {
        background-color: var(--color3);
    }
    mat-icon {
        margin-right: 5px;
    }
}

.mat-menu-trigger {
    display: flex;
    align-items: center;
    height: 100%;
    background: transparent;
    @include font-setting(1em, var(--primary-color));
}

.img-cont {
    display: flex;
    border-radius: 50%;
    @include square(40px);
    overflow: hidden;
    margin-right: 10px;
    img {
        width: 100%;
        height: auto;
    }
}

::ng-deep {
    .nav-options {
        background: var(--color2);
        .mat-menu-item {
            @include font-setting(0.875em, var(--primary-color));
            &.cdk-keyboard-focused:not([disabled]),
            &.cdk-program-focused:not([disabled]),
            &:hover:not([disabled]) {
                background: var(--color3);
            }
        }
        .mat-icon {
            color: var(--primary-color);
        }
    }
}