<header>
    <nav>
        <ul class="no-margin no-padding">
            <li>
                <a mat-button routerLinkActive="active" class="nav-link" routerLink="/home">
                    <mat-icon>home</mat-icon>
                    Home
                    <span class="visually-hidden">(current)</span>
                </a>
            </li>
            <li>
                <ng-content></ng-content>
            </li>
            <li>
                <a mat-button routerLinkActive="active" class="nav-link" routerLink="/my_movies">
                    <mat-icon>local_movies</mat-icon>
                    My Movies
                    <span class="visually-hidden">(current)</span>
                </a>
            </li>
            <li>
                <a mat-button routerLinkActive="active" class="nav-link" routerLink="/statistics">
                    <mat-icon>pie_chart</mat-icon>
                    Statistics
                    <span class="visually-hidden">(current)</span>
                </a>
            </li>
            <li>
                <a mat-button routerLinkActive="active" class="nav-link" routerLink="/lists">
                    <mat-icon>list</mat-icon>
                    Lists
                    <span class="visually-hidden">(current)</span>
                </a>
            </li>
            <li class="last-item">
                <button no-border pull-right mat-button [matMenuTriggerFor]="menu" aria-label="more options">
                        <div class="menu-trigger-cont">
                                <div class="img-cont">
                                        <img src="../../../assets/img/profile_2.png" alt="user profile">
                                </div>
                                {{username}}
                                    <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                          </button>
                <mat-menu class="nav-options" #menu="matMenu">
                    <a routerLink="/home" mat-menu-item>
                        <mat-icon>person</mat-icon>
                        <span>View Profile</span>
                    </a>
                    <a routerLink="/home" mat-menu-item>
                        <mat-icon>settings_applications</mat-icon>
                        <span>Account Settings</span>
                    </a>
                    <mat-divider></mat-divider>
                    <a routerLink="/signin" mat-menu-item>
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Sign Out</span>
                    </a>
                </mat-menu>
            </li>
        </ul>
    </nav>
</header>