@import '../../../common_styles/mixins.scss';
.search-form {
    padding: 10px 15px;
    display: flex;
     ::ng-deep {
        .mat-form-field-wrapper {
            padding: 0;
        }
        .mat-autocomplete-trigger {
            padding: 11px 12px;
            color: var(--primary-color);
            caret-color: var(--primary-color);
        }
        .mat-form-field-underline {
            display: none;
        }
        .mat-form-field-infix {
            border: none;
            padding: 0;
        }
        .mat-form-field-label {
            top: 1.500em;
            padding-left: 12px;
            padding-right: 12px;
            color: var(--color4);
        }
    }
}

.search-form-field {
    background-color: var(--color3);
    border: 0.5px solid var(--color4);
    border-right: 0;
    border-radius: 4px 0 0 4px;
    width: 30vw;
}

.mat-spinner {
    position: absolute;
    top: 25%;
    right: 5px;
     ::ng-deep {
        circle {
            stroke: var(--color4);
        }
    }
}

.search-btn {
    border: 0.5px solid var(--color4);
    border-radius: 0 4px 4px 0;
    color: var(--primary-color);
    background-color: var(--later);
}

%option-active {
    --details-background: var(--later);
    --details-color: var(--primary-color);
    .more-results-btn {
        background-color: var(--later);
        color: var(--primary-color);
    }
}

::ng-deep {
    .movie-results.mat-autocomplete-panel {
        border: 0.5px solid var(--color4);
        border-top: 0;
        border-radius: 0 0 10px 10px;
        max-height: 375px;
        .mat-option {
            padding: 0;
            height: auto;
            line-height: initial;
            &.mat-active {
                @extend %option-active;
            }
            @include hover-focus {
                @extend %option-active;
            }
        }
        app-movie-row {
            display: block;
            border: 0.5px solid var(--color4);
        }
        .more-results-btn {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 15px;
            background-color: var(--color2);
            @include font-setting(0.875em, var(--color4));
            text-decoration: none;
            .mat-button-wrapper {
                width: 100%;
                text-align: left;
            }
            .mat-icon {
                color: #000000;
                opacity: 0.2;
                text-shadow: 0px 1px 0px #ffffff;
                margin: 0;
                float: right;
            }
        }
    }
}