@import '../../../common_styles/mixins.scss';
.search-form {
    padding: 10px 15px;
    display: flex;
     ::ng-deep {
        .mat-form-field-wrapper {
            padding: 0;
        }
        .mat-autocomplete-trigger {
            padding: 6px 12px;
            color: var(--primary-color);
        }
        .mat-form-field-underline {
            display: none;
        }
        .mat-form-field-infix {
            border: none;
            padding: 0;
        }
        .mat-form-field-label {
            top: 1.25em;
            padding-left: 12px;
            padding-right: 12px;
            color: var(--color4);
        }
    }
}

.search-form-field {
    background-color: var(--color3);
    border: 0.5px solid var(--color4);
    border-right: 0;
    border-radius: 4px 0 0 4px;
    width: 30vw;
}

.search-btn {
    border: 0.5px solid var(--color4);
    border-radius: 0 4px 4px 0;
    color: var(--primary-color);
    background-color: var(--later);
}

::ng-deep {
    .movie-results.mat-autocomplete-panel {
        border: 0.5px solid var(--color4);
        border-top: 0;
        border-radius: 0 0 10px 10px;
        max-height: 375px;
        .mat-option {
            padding: 0;
            height: auto;
            line-height: initial;
        }
        .movie-details {
            display: flex;
            padding: 5px 15px;
            background-color: var(--color3);
            border-bottom: 0.5px solid var(--color4);
            color: var(--color4);
            @include hover-focus {
                background-color: var(--later);
                color: var(--primary-color);
                .no-image {
                    border-color: var(--primary-color);
                }
            }
        }
        .poster-container {
            width: 32px;
            height: 48px;
            margin-right: 15px;
        }
        .movie-poster {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.2);
        }
        .no-image {
            border: 1.5px dashed var(--color4);
            border-radius: 5px;
            @include font-setting(6px, false, bolder);
            text-align: center;
            @include square(100%);
            margin-right: 15px;
            padding: 7px 0px;
            white-space: normal;
        }
        .movie-title {
            display: block;
            margin-bottom: 5px;
            @include font-setting(0.875em, var(--primary-color), bold);
        }
        .movie-genre {
            @include font-setting(0.813em, false, false, italic);
        }
        .more-results-btn {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 15px;
            background-color: var(--color2);
            @include font-setting(0.875em, var(--color4));
            text-decoration: none;
            @include hover-focus {
                background-color: var(--later);
                color: var(--primary-color);
            }
            .mat-icon {
                color: #000000;
                opacity: 0.2;
                text-shadow: 0px 1px 0px #ffffff;
                margin: 0;
            }
        }
    }
}