<form class="search-form">
    <mat-form-field class="search-form-field" [floatLabel]="'never'">
        <input type="text" placeholder="Search" aria-label="Search" matInput [formControl]="searchControl" [matAutocomplete]="auto">
        <mat-autocomplete class="movie-results" #auto="matAutocomplete">
            <mat-option *ngFor="let movie of searchResults" [value]="option">
                <div class="movie-details">
                    <div class="poster-container">
                        <div class="no-image" *ngIf="!movie.poster">No Image Available</div>
                        <img class="movie-poster" *ngIf="movie.poster" src="{{movie.poster}}">
                    </div>
                    <div class="details-container">
                        <span class="movie-title">{{movie.title}} ({{movie.year}})</span>
                        <span class="movie-genre" *ngFor="let genre of movie.genres; let i = index;">{{genre}}{{i < movie.genres.length - 1 ? ',' : '.'}} </span>
                    </div>
                </div>
            </mat-option>
            <mat-option>
                <a href="/home" class="more-results-btn">
                    see more results for "mission:"
                    <mat-icon>double_arrow</mat-icon>
                </a>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button class="search-btn pull-right" mat-icon-button aria-label="Search">
            <mat-icon>search</mat-icon>
          </button>
</form>