@import '../../../common_styles/mixins.scss';
.poster-container {
    position: relative;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    @include responsive-ratio(2, 3);
}

.movie-poster {
    width: 100%;
    @include abs-position(0, false, false, 0);
}

.no-image {
    @include abs-position(0, false, false, 0);
    @include square(100%);
    border-radius: 5px;
    white-space: normal;
    @include font-setting(false, false, bolder, false, center);
    &.large {
        padding: 40% 0px;
        border: 2px dashed;
    }
    &.small {
        padding: 7px 0px;
        border: 1.5px dashed;
    }
}