<header class="{{header.class}}">
    <div>
        <mat-icon>{{header.icon}}</mat-icon>
        <label>{{header.title}}</label>
    </div>
    <a mat-button href="/home">
            more
            <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
</header>
<main>
    <ng-container *ngIf="state == 'complete'">
        <button class="movie-details-cont no-border no-padding" *ngFor="let movie of movieList" (click)="onSelectMovie(movie.id)">
            <app-movie-row [movie]="movie"></app-movie-row>
        </button>
        <p no-margin *ngIf="movieList.length == 0">Add Movies to see here!</p>
    </ng-container>
</main>