.blue-theme {
    --primary-color: #fff;
    --color1: #20243f;
    --color2: #394263;
    --color3: #50597a;
    --color4: #8992b3;
    --later: #10A8AB;
    --later-darker: #028285;
    --fav: #E64C66;
    --fav-darker: #c9334e;
    --wish: #F7B054;
    --wish-darker: #C68D43;
    --own: #51C3F9;
    --own-darker: #279ed3;
}

// $later: ('normal': #10A8AB, 'dark': #028285);