<app-header [active]="'home'"></app-header>
<main class="container">
    <section class="movie-lists">
        <app-movie-list [movieList]="nowPlaying" [title]="'Now Playing'"></app-movie-list>
        <app-movie-list [movieList]="comingSoon" [title]="'Coming Soon'"></app-movie-list>
    </section>
    <section class="side-lists">
        <app-side-list [movieList]="watchLaterData" [header]="watchLaterHeader"></app-side-list>
        <app-side-list [movieList]="wishListData" [header]="wishListHeader"></app-side-list>
    </section>
</main>