<app-header>
    <app-header-search-bar (selectMovie)="showMovieDetails($event)"></app-header-search-bar>
</app-header>
<main class="container">
    <!-- TODO: add H1 tag -->
    <section class="movie-lists">
        <app-movie-list (updateList)="updateMovieList($event)" (selectMovie)="showMovieDetails($event)" [state]="nowPlayingState" [movieList]="nowPlaying" [title]="'Now Playing'"></app-movie-list>
        <app-movie-list (updateList)="updateMovieList($event)" (selectMovie)="showMovieDetails($event)" [state]="comingSoonState" [movieList]="comingSoon" [title]="'Coming Soon'"></app-movie-list>
    </section>
    <section class="side-lists">
        <app-side-list (selectMovie)="showMovieDetails($event)" [movieList]="watchLaterData" [state]="watchLaterState" [header]="watchLaterHeader"></app-side-list>
        <app-side-list (selectMovie)="showMovieDetails($event)" [movieList]="wishListData" [state]="wishListState" [header]="wishListHeader"></app-side-list>
    </section>
</main>