<div class="page-not-found">
    <div class="img-cont">
        <img src="../../../assets/img/page-not-found.png" alt="">
    </div>
    <div class="right-section">
        <span>404</span>
        <h1>Houston, <br>we’ve got a problem!</h1>
        <p>Oops! It looks like the page you’re trying to reach does not exist. Please check the URL for proper spelling and capitalization.</p>
        <div class="btn-cont">
            <button class="home-btn" mat-flat-button routerLink="/home">Go Home</button>
            <button class="back-btn" mat-flat-button (click)="goBack()">Back</button>
        </div>
    </div>
</div>