@import '../../../common_styles/mixins.scss';
$Details-padding-top: var(--details-padding-top, 5px);
$Details-padding-right: var(--details-padding-right, 15px);
$Details-padding-bottom: var(--details-padding-bottom, 5px);
$Details-padding-left: var(--details-padding-left, 15px);
$Details-background: var(--details-background, var(--color3));
$Details-color: var(--details-color, var(--color4));
$Details-background-hover: var(--details-background-hover, var(--color3));
$Details-color-hover: var(--details-color-hover, var(--color4));
.movie-details {
    display: flex;
    padding: $Details-padding-top $Details-padding-right $Details-padding-bottom $Details-padding-left;
    background-color: $Details-background;
    color: $Details-color;
    @include hover-focus {
        background-color: $Details-background-hover;
        color: $Details-color-hover;
        .no-image {
            border-color: $Details-color-hover;
        }
    }
}

.poster-container {
    width: 32px;
    height: 48px;
    margin-right: 15px;
}

.movie-poster {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.no-image {
    border: 1.5px dashed var(--color4);
    border-radius: 5px;
    @include font-setting(6px, false, bolder, false, center);
    @include square(100%);
    margin-right: 15px;
    padding: 7px 0px;
    white-space: normal;
}

.movie-title {
    display: block;
    margin-bottom: 5px;
    @include font-setting(0.875em, var(--primary-color), bold);
}

.movie-genre {
    @include font-setting(0.813em, false, false, italic);
}