@import '../../../common_styles/mixins.scss';
$Details-padding-top: var(--details-padding-top, 5px);
$Details-padding-right: var(--details-padding-right, 15px);
$Details-padding-bottom: var(--details-padding-bottom, 5px);
$Details-padding-left: var(--details-padding-left, 15px);
$Details-background: var(--details-background, var(--color3));
$Details-color: var(--details-color, var(--color4));
$Poster-margin-right: var(--poster-margin-right, 15px);
$Movie-title-weight: var(--movie-title-weight, bold);
.movie-details {
    display: flex;
    width: 100%;
    @include font-setting(1em, $Details-color, false, false, left);
    padding: $Details-padding-top $Details-padding-right $Details-padding-bottom $Details-padding-left;
    background-color: $Details-background;
}

.poster-container {
    width: 32px;
    margin-right: $Poster-margin-right;
    position: relative;
}

.details-container {
    width: calc(100% - (32px + var(--poster-margin-right, 15px)));
}

.movie-title {
    display: block;
    margin-bottom: 5px;
    @include font-setting(0.875em, var(--primary-color), $Movie-title-weight);
    @include truncate(100%);
}

.movie-genre {
    @include font-setting(0.813em, false, false, italic);
}