@import '../../../../common_styles/mixins.scss';
header {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    background-color: var(--color3);
    color: var(--primary-color);
    &>div {
        display: flex;
        align-items: center;
    }
    label {
        font-size: 1.125em;
        margin-left: 5px;
    }
    .mat-button {
        @include font-setting(0.875em, false, bold, false, false, 24px);
        border: 0.5px solid var(--color4);
        border-radius: 5px;
        padding: 5px 5px 5px 15px;
        .mat-icon {
            transition: .3s ease;
        }
        &.expanded .mat-icon {
            @include rotate(90deg);
        }
    }
}

main {
    background-color: var(--color2);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.movie-card {
    position: relative;
    overflow: hidden;
    flex: 1;
    flex-basis: 20%;
    padding: 0 10px;
    margin: 10px 0;
    &:focus-within .overlay {
        bottom: 0;
    }
    @include hover-focus {
        .overlay {
            bottom: 0;
        }
    }
}

.poster-container {
    width: 100%;
    background-color: transparent;
    @include font-setting(1.450em, var(--color4));
}

.overlay {
    display: flex;
    @include abs-position(false, false, -44px, 0);
    padding: 0 10px;
    width: 100%;
    transition: .3s ease;
}

.user-list {
    padding: 12px 0 8px;
}