/* You can add global styles to this file, and also import other style files */

// @import 'themes/theme-blue.scss';
@import 'common_styles/mixins.scss';
@font-face {
    font-family: 'gotham';
    src: url("./assets/font/gotham/GOTHAM-LIGHT.TTF"), url("./assets/font/gotham/GOTHAM-BLACK.TTF");
}

:root {
    --primary-color: #fff;
    --color1: #20243f;
    --color2: #394263;
    --color3: #50597a;
    --color4: #8992b3;
    --later: #10A8AB;
    --later-darker: #028285;
    --fav: #E64C66;
    --fav-darker: #c9334e;
    --wish: #F7B054;
    --wish-darker: #C68D43;
    --own: #51C3F9;
    --own-darker: #279ed3;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    overflow: auto;
    background: var(--color1);
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.mat-input-element {
    caret-color: var(--primary-color);
    &:focus {
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
}

@include attr-class ('no-border') {
    border: none !important;
}

@include attr-class ('no-margin') {
    margin: 0 !important;
}

@include attr-class ('no-padding') {
    padding: 0 !important;
}

@include attr-class ('pull-left') {
    float: left;
}

@include attr-class ('pull-right') {
    float: right;
}

.visually-hidden {
    position: absolute !important;
    @include square(1px);
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    /* added line */
}